<div class="page">
  <div class="page__demo">
    <div class="main-container page__container">
      <table class="table">
        <thead class="table__thead">
          <tr class="table__head">
            <th class="table__th">titolo documento</th>
            <th class="table__th"></th>
            <th class="table__th"></th>

          </tr>
        </thead>
        <tbody class="table__tbody">
          <tr class="table__tr">
            <td class="table__td table__mobile-title">
              <span>Titolo</span>
            </td>
            <td class="table__td">
              <!-- <span class="table__mobile-caption">Silver Package</span>
              <span class="table__value">6 hours</span> -->
            </td>
            <td class="table__td">
              <span class="table__value">Azioni</span>

            </td>
          </tr>
        </tbody>
        <tbody class="table__tbody">
          <tr class="table__tr">
            <td class="table__td table__mobile-title">
              <!-- <span>Wedding day coverage</span> -->
              <input type="text" class="form-control" placeholder="inserisci il nome del documento">
            </td>
            <td class="table__td">
              <!-- <span class="table__mobile-caption">Silver Package</span>
              <span class="table__value">6 hours</span> -->
            </td>
            <td class="table__td">
              <!-- icon -->
              <i class="bi bi-check-square m-1" style="color: orange; font-size: 2rem;"></i>
              <i class="bi bi-x-square m-1" style="color: orange; font-size: 2rem;"></i>
              <!-- <i class="bi bi-trash" style="color: orange; font-size: 1rem; border: 2px solid orange;"></i> -->
              <!-- png icon -->
              <img src="assets/icons/cestino.png" alt="cestino" class="m-1 pb-lg-3 pb-md-3 pb-xs-3">

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <footer class="footer">
    <div class="main-container footer__container">
      <span>Liked? Please,
        <a href="https://stas-melnikov.ru/donate/" rel="noopener noreferrer" target="_blank">look the page</a>
      </span>
      <a href="https://stas-melnikov.ru" class="melnik909" rel="noopener noreferrer" target="_blank">Developed by Stas
        Melnikov</a>
    </div>
  </footer>
</div>
<i class="bi bi-x-square bi-lg" style="color: orange;"></i>
<i class="bi bi-pencil-square bi-2x" style="color: orange;"></i>